body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header, footer {
    background-color: #ffefff;
    width: 100%;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-align: center;
}

#nav-bar {
    border: 1px solid black;
    padding: 10px;

    background-color: #fef;
}

#nav-bar table {
    width: 100%;
}

#nav-bar tr {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#content {
    display: flex;
    gap: 5px;
}

ol li {
    padding: 10px;
}

#sidebar {
    background: #ccc;
    flex-basis: 40%;
    max-width: fit-content;
    min-width: 170px;
    flex-grow: 1;

    border: 1px solid black;
}

#main-content {
    text-align: center;
    border: 1px solid black;
    flex-grow: 1;
    padding: 20px;

    background: #fef;
}

#sidebar > h2 {
    text-align: center;
}

img {
    width: 90%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
}

@media screen and (max-width: 600px)  {
    #content {
        flex-direction: column-reverse;
    }

    #nav-bar tr {
        flex-direction: column;
    }

    #sidebar {
        flex-grow: 1;
        max-width: none;
    }
}